/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

html {
    font-size: 62.5%;
}

/* Обнуление */
body {
    color: #616161;
    font-family: Rubik;
}

/* ------------------------*/
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------------------------ */
.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 108.7rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* ------------------------ */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    min-height: 11.4rem;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin: 0 4rem 0 0;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    color: #000;
    letter-spacing: 0.1rem;
}

.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 25.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0.1rem;
    color: #fcfdfe;
    padding: 1.4rem 3rem;
    border-radius: 0.5rem;
    background-color: #ec5863;
    transition: background-color 0.3s linear;
}

.btn--blue {
    background-color: #4285f4;
}

/* ------------------------ */
.btn:hover {
    background-color: #f92c3b;
}

.btn--blue:hover {
    background-color: #0060ff;
}

.menu__link:hover {
    text-decoration: underline;
}

/* ------------------------ */

/* -------------------------------------------------------------------- */

.get-started {
    background-color: #fafbfd;
}

.get-started__container {
    padding: 15rem 1.5rem 5rem 1.5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 26.7rem;
    top: 0;
    transform: translate(100%, 0rem);
    border-radius: 3rem 0 0 3rem;
    background-color: #ec5863;
}

.get-started__content {
    flex: 0 1 48%;
    padding: 0 2rem;
}

.get-started__text-block {
    max-width: 41rem;
    /*! 410px*/
}

.get-started__video {
    flex: 1 1 100%;
    padding: 6rem 0 0 2rem;
}

.video-get-started {
    display: inline-flex;
    align-items: center;
}

.video-get-started__icon {
    flex: 0 0 44px;
}

.video-get-started__body {
    padding: 0 0 0 12px;
}

.video-get-started__title {
    font-size: 1.3rem;
    line-height: 126%;
    color: #b0b0b0;
    letter-spacing: 0.15rem;
}

.video-get-started__title:not(:last-child) {
    margin: 0 0 0.5rem 0;
}

.video-get-started__text {
    font-size: 0.9rem;
    line-height: 126%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #000;
}

.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.get-started__image img {
    max-width: 100%;
}

/* ------------------------ */
.text-block--center {
    text-align: center;
}

.text-block__text--mw {
    max-width: 63rem;
    margin: 0 auto;
}

.text-block__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
}

.text-block__title:not(:last-child) {
    margin: 0 0 12px 0;
}

.text-block__title span {
    color: #ec5863;
}

.text-block__title_blue span {
    color: #4285f4;
}

.text-block__text {
    font-size: 1.2rem;
    line-height: 138.5%;
}

.text-block__text:not(:last-child) {
    margin: 0 0 24px 0;
}

/* ------------------------ */

/* ------------------------------------------------------------- */

/* --- SECTION STAY-SAFE--------- */

.stay-safe {
    padding: 8rem 0;
}

.stay-safe__container {
    display: flex;
    align-items: center;
}

.stay-safe__content {
    flex: 0 1 50%;
}

.stay-safe__media {
    flex: 0 1 50%;
}

.media-stay-safe {
    width: 37.3rem;
    padding: 5.6rem 0 2.7rem 0;
    text-align: center;
    position: relative;
}

.media-stay-safe__image {
    display: inline-block;
    box-shadow: (0.2rem 0.4rem 3.2rem rgba(0, 0, 0, 0.12));
    border-radius: 1.6rem;
    position: relative;
    width: 61.5%;
}

.media-stay-safe__image img {
    position: relative;
    z-index: 5;
    max-width: 100%;
}

.media-stay-safe__image::after {
    content: "";
    position: absolute;
    bottom: -1.2rem;
    left: 1.2rem;
    position: absolute;
    width: 20.6rem;
    height: 2.7rem;
    z-index: 2;
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
}

.media-stay-safe__item {
    position: absolute;
    background-color: #ec5863;
    border-radius: 3rem;
    width: 7.7rem;
    height: 7.7rem;
}

.media-stay-safe__item--1 {
    top: 0;
    left: 0;
    width: 14.7rem;
    height: 14.7rem;
}

.media-stay-safe__item--2 {
    bottom: 0;
    left: 3.3rem;
}

.media-stay-safe__item--3 {
    bottom: 10.7rem;
    right: 3.4rem;
}

/* ---------------------------------------------------------------- */

/* ------------------------ */


.experts {
    background-color: #fafbfd;
    padding: 10.3rem 0 11.6rem 0;
}

.experts__video {
    flex: 0 1 50%;
    position: relative;
    padding: 0 0 30% 0;
    box-shadow: 0 0.4rem 1.8rem rgba(88, 126, 236, 0.18);
    border-radius: 0.8rem;
    overflow: hidden;
}

.experts__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experts__body {
    display: flex;
    align-items: center;
}

.experts__content {
    flex: 0 1 50%;
    padding: 0 0 0 2rem;
}

.experts__text-block {
    max-width: 40rem;
}

.statistics-experts {
    max-width: 65.5rem;
    margin: 0 auto;
    position: relative;
}

/* ------------------------ */
.statistics-experts__decor {
    position: absolute;
    background-color: #ec5863;
    border-radius: 3rem;
}

.statistics-experts__decor--1 {
    width: 6.5rem;
    height: 6.5rem;
    transform: rotate(-30deg);
    bottom: -2.1rem;
    left: -2.1rem;
    border-radius: 1.6rem;
}

.statistics-experts__decor--2 {
    width: 9.7rem;
    height: 9.7rem;
    right: 50%;
    top: -4rem;
    transform: rotate(30deg);
}

.statistics-experts__decor--3 {
    width: 12.8rem;
    height: 12.8rem;
    transform: rotate(-30deg);
    right: -6.5rem;
    top: 0;
}

/* ------------------------ */

.statistics-experts__body {
    background: #ffffff;
    box-shadow: 0 0.2rem 2.4rem rgba(88, 126, 236, 0.15);
    border-radius: 1.6rem;
    position: relative;
    z-index: 2;
    margin: 0 0 8rem 0;
}

.body-statistics-experts {
    padding: 2.5rem 8rem;
    display: flex;
    align-items: center;
}

.body-statistics-experts__item {
    text-align: center;
    flex: 0 1 25%;
}

.body-statistics-experts__item:last-child {
    flex: 0 1 50%;
}

.body-statistics-experts__value {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 120%;
    letter-spacing: 0.1rem;
    color: #ec5863;
    margin: 0 0 0.5rem 0;
}

.body-statistics-experts__text {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 118%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #000000;
}

/* ------------------------ */

/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */


.healthcare {
    padding: 8rem 0 3rem 0;
}

.healthcare__text-block {
    margin: 0 0 4.5rem 0;
}

/* ------------------------ */
.healthcare__column {
    padding: 0 3.6rem;
    flex: 0 1 33.333%;
    position: relative;
}

.healthcare__items {
    display: flex;
}

.item-healthcare {
    height: 100%;
    position: relative;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0 1.4rem 1.8rem rgba(88, 126, 236, 0.18);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3.5rem 1.7rem;
}

.item-healthcare__icon {
    margin: 0 0 5.8rem 0;
}

.item-healthcare__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 138.5%;
    color: #000000;
    margin: 0 0 0.4rem 0;
}

.item-healthcare__text {
    font-size: 1.2rem;
    line-height: 138.5%;
    letter-spacing: 0.08em;
}

/* ------------------------ */

.healthcare__column--1::before {
    width: 6.5rem;
    height: 6.5rem;
    bottom: -3.5rem;
    left: 1.5rem;
    transform: rotate(-30deg);
}

.healthcare__column--1::after {
    width: 9.7rem;
    height: 9.7rem;
    top: 3.5rem;
    right: -1rem;
    border-radius: 3rem;
    transform: rotate(30deg);
}

.healthcare__column--1::after,
.healthcare__column--1::before {
    content: "";
    position: absolute;
    background-color: #ec5863;
    border-radius: 1.6rem;
}

.healthcare__column--2::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    width: 12.7rem;
    height: 12.7rem;
    bottom: -3.5rem;
    right: -3.5rem;
    border-radius: 3rem;
    transform: rotate(55deg);
}

.healthcare__column--3::after {
    content: "";
    position: absolute;
    background-color: #ec5863;
    width: 6.5rem;
    height: 6.5rem;
    top: -2.5rem;
    right: 1rem;
    border-radius: 1.6rem;
    transform: rotate(45deg);
}

/* ---------------------------------------------------------------- */

.footer {
    padding: 4.5rem 0;
}

.footer__container {}

.footer__items {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}


/* ---------------------------------------------------------------- */

/* ----ADAPTIVE LAYOUT--------------- */


@media (max-width: 1087px) {
    .header__container {
        max-width: 97rem;
    }

    .healthcare__column {
        padding: 0 1.5rem;
    }
}

@media (max-width: 991.98px) {
    .header__container {
        max-width: 76rem;
        min-height: 8rem;
    }

    .menu__item {
        margin: 0 3rem 0 0;
    }

    .header__button {
        flex: 0 0 17rem;
    }

    .get-started__container::before {
        right: 18.5rem;
        border-radius: 2rem 0 0 2rem;
    }

    .stay-safe {
        padding: 4rem 0;
    }

    .healthcare__items {
        flex-direction: column;
    }

    .healthcare__column:not(:last-child) {
        margin: 0 0 2.5rem 0;
    }

    .healthcare {
        padding: 3rem 0;
    }

}

@media (max-width: 767.98px) {
    .header__container {
        max-width: none;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 9rem 1.5rem 3rem 1.5rem;
        transition: left 0.3s linear;
        overflow: auto;
    }

    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 8rem;
        width: 100%;
        background-color: #fff;
    }

    .menu__link {
        font-size: 2rem;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    .menu__item {
        margin: 0 0 2.5rem 0;
    }

    .get-started__container::before {
        display: none;
    }

    .get-started__container {
        padding: 10rem 1.5rem 3rem 1.5rem;
    }

    .get-started__text-block {
        max-width: none;
    }

    .get-started__content {
        flex: 1 1 100%;
        padding: 0;
    }

    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 3rem 0;
    }

    .get-started__video {
        padding: 0;
    }

    .text-block__title {
        font-size: 3.4rem;
    }

    .stay-safe__container {
        flex-direction: column-reverse;
    }

    .stay-safe__content {
        margin: 0 0 3rem 0;
    }

    .stay-safe {
        padding: 3rem 0;
    }

    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }

    .experts__video {
        padding: 0 0 58% 0;
    }

    .experts__content {
        padding: 0;
        margin: 0 0 3rem 0;
    }

    .experts {
        padding: 8rem 0 3rem 0;
    }

    .statistics-experts__body {
        margin: 0 0 5rem 0;
    }

    .body-statistics-experts {
        padding: 2.5rem;
    }
}

@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 4rem;
        overflow: hidden;
    }

    .media-stay-safe {
        width: 29rem;
    }

    .body-statistics-experts {
        flex-direction: column;
    }

    .body-statistics-experts__item:not(:last-child) {
        margin: 0 0 1.5rem 0;
    }
}

@media (max-width:500px) {
    .footer__items {
        flex-direction: column;
    }

    .footer__item {
        margin: 0 0 2rem 0;
    }
}

@media (min-width: 991.98px) {
    .stay-safe__media {
        padding: 0 0 0 4.7rem;
    }
}

/* ------------------------ */
.icon-close,
.icon {
    display: none;
}

@media (max-width: 767.98px) {

    .icon-close,
    .icon {
        position: relative;
        flex: 0 0 3rem;
        height: 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 2rem;
    }

    .icon span {
        height: 0.2rem;
        background-color: #000;
    }

    .icon::before,
    .icon::after {
        content: "";
        background-color: #000;
        height: 0.2rem;
    }

    .icon-close {
        display: none;
        flex: 0 0 3rem;
        height: 3rem;
        position: relative;
        margin: 0 0 0 2rem;
    }

    .icon-close::before,
    .icon-close::after {
        content: "";
        background-color: #000;
        position: absolute;
        height: 0.2rem;
        left: 0;
        width: 100%;
        top: 50%;
    }

    .icon-close::before {
        transform: rotate(-45deg);
    }

    .icon-close::after {
        transform: rotate(45deg);
    }

    .header:target .icon {
        display: none;
    }

    .header:target .icon-close {
        display: flex;
    }
}